@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
html,body{
  overflow-x: hidden;
}
.about h2{
  position: absolute;
width: 195px;
height: 118px;
left: 677px;
font-family: 'Abril Fatface', cursive;
font-size: 98.5047px;
color: #000000;

}
.aboutcontent{
  position: absolute;
  top:18rem;
  font-size: 1.2rem;
  margin-left: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  margin-left: 100px;
  margin-right: 100px;
  color: rgb(127, 19, 82);
}

h2{
width:100vw;
text-align: center;
height: 118px;

position: absolute;
top:7.5rem;
font-family: 'Bebas Neue', cursive;
font-style: normal;
font-weight: 400;
font-size: 98.5047px;
line-height: 118px;

color: #000000;

}
.right{
  height:50px;
  animation: move 1s infinite;}
.left{
  height:50px;
  animation: move 1s infinite;}
.rightbottomdown{
    position:absolute;
    left: 15px;
    top:5vh;
    height:15rem;
  }
.leftbottomdown{
    position:absolute;
    left:0;
    top:55vh;
    height:30rem;
  }
@media(min-width: 1400px){
    
}
@media(max-width: 1290px){
  .about h2{
      font-size: 60.5047px;
      line-height: 108px;
}
  .aboutcontent{
      height: 200px;
      font-size: 15.1796px;
      line-height: 18px;
      left: 370px;
      top: 250px;
}
  .leftbottomdown{
    top:60vh;
  height:30rem;
  width: 490px;
}
  .rightbottomdown{
    top:60vh;
  height:30rem;
  width: 490px;
}}
@media(max-width: 1050px){
  .about h2{
      font-size: 60.5047px;
      line-height: 108px;
}
  .aboutcontent{
      font-size: 15.1796px;
      left: 300px;
}
  .leftbottomdown{
    top:65vh;
  height:30rem;
  width: 420px;
}
  .rightbottomdown{
    top:65vh;
  height:30rem;
  width: 420px;
}}
@media(max-width: 990px){
    .about h2{
        font-size: 60.5047px;
        line-height: 108px;
}
    .aboutcontent{
        height: 200px;
        font-size: 15.1796px;
        line-height: 18px;
        left: 280px;
        top: 250px;
}
    .leftbottomdown{
      top:65vh;
    height:30rem;
    width: 420px;
}
    .rightbottomdown{
      top:65vh;
    height:30rem;
    width: 420px;
}}
@media(max-width: 850px){
  .about h2{
    font-size: 60.5047px;
    line-height: 108px;

}
.aboutcontent{
    height: 200px;
    font-size: 15.1796px;
    line-height: 18px;
    left: 240px;
    top: 250px;
}
.leftbottomdown{
  top:60vh;
height:30rem;
width: 400px;
}
.rightbottomdown{
  top:60vh;
height:30rem;
width: 400px;
}
    
  }
@media(max-width: 760px){
  .about h2{
    font-size: 54.5047px;
    line-height: 108px;

}
.aboutcontent{
    height: 200px;
    font-size: 13.1796px;
    line-height: 18px;
    left: 220px;
    top: 250px;
}
.leftbottomdown{
  top:60vh;
height:29rem;
width: 380px;
}
.rightbottomdown{
  top:60vh;
height:29rem;
width: 380px;
}
  }
@media(max-width: 670px){
  .about h2{ 
    font-size: 52.5047px;
    line-height: 105px;

}
.aboutcontent{
    height: 200px;
    font-size: 12.1796px;
    line-height: 18px;
    left: 200px;
    top: 250px;
}
.leftbottomdown{
  top:65vh;
height:29rem;
width: 370px;
}
.rightbottomdown{
  top:65vh;
height:29rem;
width: 370px;
}
  }
  @media(max-width: 608px){
    .about h2{
      font-size: 48.5047px;
      line-height: 105px;
  
  }
  .aboutcontent{
      height: 200px;
      font-size: 12.1796px;
      line-height: 16px;
      left: 190px;
      top: 250px;
  }
  .leftbottomdown{
    top:67vh;
  height:29rem;
  width: 360px;
  }
  .rightbottomdown{
    top:67vh;
  height:29rem;
  width: 360px;
  }  
    }
  @media(max-width: 575px){
  .about h2{
    font-size: 45.5047px;
    line-height: 105px;
    
  }
  .aboutcontent{
    height: 200px;
    font-size: 12px;
    line-height: 16px;
    left: 180px;
    top: 250px;
  }
  }
  @media(max-width: 560px){
  .about h2{
    font-size: 42.5047px;
    line-height: 105px;}
  .aboutcontent{
    height: 200px;
    font-size: 11.75px;
    line-height: 16px;
    left: 155px;
    top: 250px;
  }
  .leftbottomdown{
    top:70vh;
  height:28rem;
  width: 340px;
  }
  .rightbottomdown{
    top:70vh;
  height:28rem;
  width: 340px;
  }
  }
  @media(max-width: 490px){
    .about h2{
      font-size: 41.5047px;
      line-height: 105px;
  
  }
  .aboutcontent{
      height: 200px;
      font-size: 11.45px;
      line-height: 16px;
      left: 145px;
      top: 220px;
  }
  .leftbottomdown{
    top:70vh;
  height:29rem;
  width: 300px;
  }
  .rightbottomdown{
    top:70vh;
  height:29rem;
  width: 300px;
  }
}
@media(max-width: 440px){
  .about h2{
    font-size: 36.5047px;
    line-height: 90px;

}
.aboutcontent{
    height: 180px;
    font-size: 11.45px;
    line-height: 15px;
    left: 120px;
    top: 230px;
}
.leftbottomdown{
  top:75vh;
height:27rem;
width: 280px;
}
.rightbottomdown{
  top:75vh;
height:27rem;
width: 250px;
}
}
@media(max-width: 380px){
  .about h2{
    font-size: 32.5047px;
    line-height: 70px;
    top: 100px;
}
.aboutcontent{
    height: 160px;
    font-size: 10.45px;
    line-height: 15px;
    left: 110px;
    top: 185px;
}
.leftbottomdown{
  top:75vh;
height:27rem;
width: 280px;
}
.rightbottomdown{
  top:75vh;
height:27rem;
width: 200px;
}}
@media(max-width: 280px){
  .about h2{
    font-size: 32.5047px;
    line-height: 70px;
    top: 100px;
}
.aboutcontent{
    height: 160px;
    font-size: 9.45px;
    left: 85px;
    top: 160px;
}
.leftbottomdown{
  top:75vh;
height:27rem;
width: 280px;
}
.rightbottomdown{
  top:75vh;
height:27rem;
width: 200px;
}}



