body{
  background-color: #ffc9c9;
}

.education{
  height:180vh;
}
.middle{
  position:absolute;
  left:650px;
  top:17vh;
  height:5rem;
  width: 90px;
}
.righttt{
  position:absolute;
  right: 10px;
  top:150vh;
  height:15rem;
}
.rightbot{
  position:absolute;
  top:52vh;
  right: 0;
  height:20rem;
}
.questions{
font-size: 5rem;
margin-top: 2rem;
font-weight: 400;
font-family: 'Abril Fatface', cursive;
line-height: 100px;
margin-left: 10px;
}
.content{
  background-size: cover;
  font-size: 1.5rem;
  margin-left: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  margin-right: 300px;
  color: #150303;
}
.answer{
  background-size: cover;
  font-size: 1.2rem;
  margin-left: 10px;
  font-family: 'Montserrat';
font-style: normal;
  margin-right: 300px;
  color: rgb(127, 19, 82);
}
    