@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
html,body{
  overflow-x: hidden;  
}

.navbar, .navbar>.container, .navbar>.container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  position: relative;
  padding: 37px 3rem;
}
#home{
  display: flex;
  align-items: center;
 
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
} 
body{
  background-color: #ffc9c9;
}

.landing{
  height:110vh;
}
.heading{
  width:500px;
text-align: center;
font-size: 7rem;
margin-left: auto;
margin-right: auto;
margin-top: 1rem;
font-weight: 400;
line-height: 100px;
}
.cont{
  background-image: url('images/meditation.png');
  background-size: cover;
  opacity: 0.8;
  font-size: 1.8rem;
  width:400px;
  font-family: 'Abril Fatface', cursive;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.explore{
  font-size: 2rem;
  width:400px;
  font-family: 'Abril Fatface', cursive;
  border:1px solid rgb(1, 1, 1);
  margin-left: auto;
  margin-right: auto;
  border-radius:20px;
  text-align: center;
}
.arrow{
  margin-left: auto;
  margin-right: auto;
  margin-top:0.7rem;
  width:200px;
  text-align: center;
}
.down{
  height:50px;
  animation: move 1s infinite;
}
.up{
  height:50px;
  animation: move 1s infinite;
  transform: rotate(180deg);
}
@keyframes move {
  0%{
    margin-top: 0;
  }
  50%{
    margin-top:0.5rem;
  }
  100%{
    margin-top:1rem;
  }
  
}
container {
  width: 100%;
  padding-right: 17.5px;
  padding-left: 17.5px;
  margin-right: auto;
  margin-left: auto;
}
.container{
  display:flex;
  flex-direction: row;
  width:100vw;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top:7rem;
  flex-wrap: wrap;

}
container {
  width: 100%;
  padding-right: 17.5px;
  padding-left: 17.5px;
  margin-right: auto;
  margin-left: auto;
}
.card{
    width:300px;
    height:300px;
   background-color: #a0042e;
   align-items: center;
   margin-top:2rem;

}
.card img{
  width:200px;
  height:150px;
}
.footer{
  width:300px;
  height:70px;
  background-color: #9c0031;
  color:white;
  font-weight: bold;
  font-size:1.5rem;
  text-align: center;
}
.rightbottom{
  position:absolute;
  right:0;
  top:5vh;
  height:20rem;
}
.leftbottomup{
  position:absolute;
  left:0;
  top:40vh;
  height:15rem;
}
.rightbottomup{
  position:absolute;
  right:0;
 top:195vh;
  height:20rem;
}
.rightbottomlow{
  position:absolute;
  right:0;
  top:206vh;
  height:15rem;
}
.logo{
position: absolute;
top:0rem;
height:20px;
}
.lefthead{
  position: absolute;
  top:8rem;
}

@media(min-width:375px){

  .rightbottom{
    position:absolute;
    right:0;
    top:90vh;
    height:23rem;
  }
  .leftbottomup{
    position:absolute;
    left:0;
    top:68vh;
    height:15.5rem;
  }
  .leftbottomlow{
    position:absolute;
    left:2px;
    top:80vh;
    height:12rem;
  }
  .heading{
    width:300px;
  text-align: center;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;

  font-weight: 400;
  line-height: 100px;
  }
  .explore{
    font-size: 2 rem;
    width:400px;
    border:1px solid rgb(1, 1, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    text-align: center;
  }
 
}

@media(max-width:640px){
  .rightbottom{
    position:absolute;
    right:0;
    top:65vh;
    height:15rem;
  }
  .leftbottomup{
    position:absolute;
    left:0;
    top:60vh;
    height:20rem;
  }
  .leftbottomlow{
    position:absolute;
    left:0;
    top:68vh;
    height:15rem;
  }
  .heading{
  width:600px;
  text-align: center;
  font-size: 7rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  }
  .explore{
    font-size: 1.5rem;
    width:400px;
    border:1px solid rgb(1, 1, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    text-align: center;
  }
  .navbar {
    flex-direction: column;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
}

@media(min-width:480px){

  .rightbottom{
    position:absolute;
    right:0;
    top:62vh;
    height:1rem;
  }
  .leftbottomup{
    position:absolute;
    left:0;
    top:50vh;
    height:30rem;
  }
  .leftbottomlow{
    position:absolute;
    left:2px;
    top:60vh;
    height:22rem;
  }
  .heading{
    width:600px;
  text-align: center;
  font-size: 7rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  }
  .explore{
    font-size: 1.5rem;
    width:400px;
    border:1px solid rgb(1, 1, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    text-align: center;
  }
 
}
@media(min-width:769px) and (max-width:912px){

  .card{
  width:300px;
  height:200px;
  background-color: #A6D1D1;
  align-items: center;
  margin-top:3rem;
  
}
.card img{
  width:200px;
  height:150px;
}
  .rightbottom{
    position:absolute;
    right:0;
    top:67vh;
    height:15rem;
  }
  .rightbottomup{
    position:absolute;
    right:0;
   top:200vh;
    height:10rem;
  }
  .rightbottomlow{
    position:absolute;
    right:0;
    top:260vh;
    height:5rem;
  }
  .leftbottomup{
    position:absolute;
    left:0;
    top:65vh;
    height:20rem;
  }
  .leftbottomlow{
    position:absolute;
    left:2px;
    top:74vh;
    height:20rem;
  }
  .heading{
    width:600px;
  text-align: center;
  font-size: 6.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  }
  .explore{
    font-size: 1.4rem;
    width:400px;
    border:1px solid rgb(1, 1, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    text-align: center;
  }
 
}
@media(min-width:1200px){

  .rightbottom{
    position:absolute;
    right:0;
    top:52vh;
    height:25rem;
  }
  .leftbottomup{
    position:absolute;
    left:0;
    top:50vh;
    height:30rem;
  }
  .leftbottomlow{
    position:absolute;
    left:2px;
    top:60vh;
    height:22rem;
  }
  .heading{
    width:600px;
  text-align: center;
  font-size: 7rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  line-height: 160px;
  }
  .explore{
    font-size: 2.1rem;
    width:400px;
    border:1px solid rgb(1, 1, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    text-align: center;
  }
 
}
@media(min-width:769px) and (max-width:912px){

  .card{
    width:300px;
    height:200px;
   background-color: #A6D1D1;
   align-items: center;
   margin-top:3rem;
  
}
.card img{
  width:200px;
  height:150px;
}
  .rightbottom{
    position:absolute;
    right:0;
    top:67vh;
    height:15rem;
  }
  .rightbottomup{
    position:absolute;
    right:0;
   top:200vh;
    height:10rem;
  }
  .rightbottomlow{
    position:absolute;
    right:0;
    top:260vh;
    height:5rem;
  }
  .leftbottomup{
    position:absolute;
    left:0;
    top:65vh;
    height:20rem;
  }
  .leftbottomlow{
    position:absolute;
    left:2px;
    top:74vh;
    height:20rem;
  }
  .heading{
    width:600px;
  text-align: center;
  font-size: 6.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  }
  .explore{
    font-size: 1.4rem;
    width:400px;
    border:1px solid rgb(1, 1, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    text-align: center;
  }
 
}
@media(max-width:990px){

  .card{
    width:300px;
    height:200px;
   background-color: #A6D1D1;
   align-items: center;
   margin-top:3rem;
  
}
.card img{
  width:200px;
  height:150px;
}
  .rightbottom{
    position:absolute;
    right:0;
    top:67vh;
    height:15rem;
  }
  .rightbottomup{
    position:absolute;
    right:0;
   top:200vh;
    height:10rem;
  }
  .rightbottomlow{
    position:absolute;
    right:0;
    top:260vh;
    height:5rem;
  }
  .leftbottomup{
    position:absolute;
    left:0;
    top:65vh;
    height:20rem;
  }
  .leftbottomlow{
    position:absolute;
    left:2px;
    top:74vh;
    height:20rem;
  }
  .heading{
    width:600px;
  text-align: center;
  font-size: 6.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  }
  .explore{
    font-size: 1.4rem;
    width:400px;
    border:1px solid rgb(1, 1, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    text-align: center;
  }
 
}
@media(min-width:990px){

  .rightbottom{
    position:absolute;
    right:0;
    top:62vh;
    height:20rem;
  }
  .leftbottomup{
    position:absolute;
    left:0;
    top:50vh;
    height:30rem;
  }
  .leftbottomlow{
    position:absolute;
    left:2px;
    top:60vh;
    height:22rem;
  }
  .heading{
    width:600px;
  text-align: center;
  font-size: 7rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  }
  .explore{
    font-size: 1.5rem;
    width:400px;
    border:1px solid rgb(1, 1, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    text-align: center;
  }
 
}
@media(max-width:990px){

  .card{
    width:300px;
    height:200px;
   background-color: #A6D1D1;
   align-items: center;
   margin-top:3rem;
  
}
.card img{
  width:200px;
  height:150px;
}
  .rightbottom{
    position:absolute;
    right:0;
    top:67vh;
    height:15rem;
  }
  .rightbottomup{
    position:absolute;
    right:0;
   top:200vh;
    height:10rem;
  }
  .rightbottomlow{
    position:absolute;
    right:0;
    top:260vh;
    height:5rem;
  }
  .leftbottomup{
    position:absolute;
    left:0;
    top:65vh;
    height:20rem;
  }
  .leftbottomlow{
    position:absolute;
    left:2px;
    top:74vh;
    height:20rem;
  }
  .heading{
    width:600px;
  text-align: center;
  font-size: 6.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  }
  .explore{
    font-size: 1.4rem;
    width:400px;
    border:1px solid rgb(1, 1, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    text-align: center;
  }
 
}
@media(min-width:990px){

  .rightbottom{
    position:absolute;
    right:0;
    top:62vh;
    height:20rem;
  }
  .leftbottomup{
    position:absolute;
    left:0;
    top:50vh;
    height:30rem;
  }
  .leftbottomlow{
    position:absolute;
    left:2px;
    top:60vh;
    height:22rem;
  }
  .heading{
    width:600px;
  text-align: center;
  font-size: 7rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  }
  .explore{
    font-size: 1.5rem;
    width:400px;
    border:1px solid rgb(1, 1, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    text-align: center;
  }
 
}

@media(min-width:376px) and (max-width:480px){

  .rightbottom{
    position:absolute;
    right:0;
    top:67vh;
    height:15rem;
  }
  .leftbottomup{
    position:absolute;
    left:0;
    top:68vh;
    height:18.5rem;
  }
  .leftbottomlow{
    position:absolute;
    left:2px;
    top:80vh;
    height:12rem;
  }
  .rightbottomup{
    position:absolute;
    right:0;
   top:203vh;
    height:20rem;
  }
  .rightbottomlow{
    position:absolute;
    right:0;
    top:211vh;
    height:15rem;
  }
  .heading{
    width:300px;
  text-align: center;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  }
  .explore{
    font-size: 1 rem;
    width:400px;
    border:1px solid rgb(1, 1, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    text-align: center;
  }
 
}

@media(max-width:375px){

  .card{
    width:300px;
    height:100px;
   background-color: #A6D1D1;
   align-items: center;
   margin-top:3rem;
  
}
.card img{
  width:50px;
  height:50px;
}
.rightbottomup{
  position:absolute;
  right:0;
 top:216vh;
  height:10rem;
}
.rightbottomlow{
  position:absolute;
  right:0;
  top:225vh;
  height:7.5rem;
}
  .rightbottom{
    position:absolute;
    right:-8px;
    top:75vh;
    height:9rem;
  }
  .leftbottomup{
    position:absolute;
    left:0;
    top:75vh;
    height:15.5rem;
  }
  .leftbottomlow{
    position:absolute;
    left:2px;
    top:80vh;
    height:12rem;
  }
  .heading{
    width:300px;
  text-align: center;
  font-size: 3.6rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  }
  .explore{
    font-size: 0.5 rem;
    width:275px;
    border:1px solid rgb(1, 1, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    text-align: center;
  }
 
}


@media (min-width: 992px) {
.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
}
@media (max-width: 991.98px){
.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
}